{{define "side-menu-user"}}
    <div class="column is-one-quarter">
        <aside class="menu">
            <p class="menu-label">
                Options
            </p>
            <ul class="menu-list">
                <li><a href="#">Settings</a></li>
            </ul>
        </aside>
    </div>
{{end}}
