{{define "yield"}}
    <div class="columns">
        {{template "sideIndex"}}
        <div class="column">
            <div class="box">
                <h1 class="title">All posts</h1>
                <div class="content">
                    <ul>
                        {{range .}}
                            <li><a href="/post/{{.ID}}">{{.Title}}</a></li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{end}}
